$theme_d1: #f9b132;
$theme_d2: #ffcf82;
$theme_c1: #0cc0df;
$theme_c2: #e7f2f1;
$theme_dark: #543927;
$theme_light: white;

* {
  font-family: 微軟正黑體;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

nav {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  padding: 22px 10px;
  background-color: $theme_d1;
  z-index: 5;
  img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 30px;
    margin-top: -2px;
  }
  .h2 {
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    color: $theme_dark;
    padding-left: 80px;
    margin-bottom: 0px;
  }
  .year {
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding-right: 60px;
    a {
      text-decoration: none;
      color: $theme_dark;
      font-size: 24px;
      font-weight: bold;
      transition-duration: 0.5s;
      &:hover {
        color: $theme_light;
      }
    }
  }
}

section {
  display: flex;
}

.sidebar {
  position: sticky;
  left: 0px;
  display: flex;
  flex-direction: column;
  padding: 10px 40px 350px 80px;
  background-color: $theme_c1;
  border-top-right-radius: 40px;
  h3 {
    font-size: 36px;
    font-weight: bold;
    color: $theme_light;
    margin: 38px 0px 36px 0px;
  }
  .bar {
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      font-size: 24px;
      font-weight: 600;
      color: $theme_light;
      border-bottom: solid 2px $theme_light;
      padding: 18px 40px 8px 0px;
      margin-left: 20px;
      transition-duration: 0.5s;
      &:hover {
        color: $theme_dark;
      }
    }
  }
}

.diagram {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  .title {
    display: flex;
    align-items: center;
    column-gap: 60px;
    padding-top: 36px;
    h1 {
      font-size: 42px;
      font-weight: bold;
      color: $theme_dark;
      align-self: baseline;
    }
    .dropdown {
      position: absolute;
      margin-top: -450px;
      padding: 5px;
      .dropdown-toggle {
        background-color: $theme_dark;
      }
      .dropdown-menu {
        --bs-dropdown-min-width: 6rem;
        padding: 5px;
        z-index: 3;
        .dropdown-item {
          color: $theme_dark;
          border-radius: 5px;
          padding: 4px 22px;
          &:hover {
            background-color: $theme_d2;
          }
        }
      }
    }
    .content {
      display: flex;
      flex-direction: column;
      padding-top: 20px;
      .nav-link {
        color: $theme_d1;
        font-size: 24px;
        font-weight: bold;
        padding: 10px 60px;
      }
      .active {
        color: $theme_dark;
      }
    }
  }
}

#acceptNum {
  padding-top: 20px;
}
