$theme_d1: #f9b132;
$theme_d2: #ffcf82;
$theme_c1: #0cc0df;
$theme_c2: #e7f2f1;
$theme_dark: #543927;
$theme_light: white;

* {
  font-family: 微軟正黑體;
}

html,
body {
  margin: 0px;
  padding: 0px;
}

nav {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-between;
  padding: 20px 10px;
  background-color: $theme_d1;
  z-index: 5;
  img {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 30px;
  }
  .h2 {
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    color: $theme_dark;
    padding-left: 80px;
  }
  .year {
    display: flex;
    align-items: center;
    column-gap: 30px;
    padding-right: 60px;
    a {
      text-decoration: none;
      color: $theme_dark;
      font-size: 24px;
      font-weight: bold;
      transition-duration: 0.5s;
      &:hover {
        color: $theme_light;
      }
    }
  }
}

section {
  display: flex;
}

.sidebar {
  position: sticky;
  left: 0px;
  display: flex;
  flex-direction: column;
  padding: 10px 40px 200px 80px;
  background-color: $theme_c1;
  border-top-right-radius: 40px;
  h3 {
    font-size: 36px;
    color: $theme_light;
  }
  .bar {
    display: flex;
    flex-direction: column;
    a {
      text-decoration: none;
      font-size: 24px;
      font-weight: 600;
      color: $theme_light;
      border-bottom: solid 2px $theme_light;
      padding: 20px 40px 10px 0px;
      margin-left: 20px;
      transition-duration: 0.5s;
      &:hover {
        color: $theme_dark;
      }
    }
  }
}

.diagram {
  display: flex;
  flex-direction: column;
  padding-left: 120px;
  .title {
    display: flex;
    align-items: center;
    column-gap: 60px;
    h1 {
      font-size: 42px;
      color: $theme_dark;
    }
    .tab {
      display: flex;
      a {
        text-decoration: none;
        font-size: 24px;
        font-weight: bold;
        padding: 10px 30px;
        border-radius: 40px;
      }
      #dog {
        background-color: $theme_d1;
        color: $theme_light;
        padding-right: 30px;
        z-index: 2;
        transition-duration: 0.5s;
        &:hover {
          background-color: $theme_d2;
          color: $theme_dark;
        }
      }
      #cat {
        color: $theme_light;
        background-color: $theme_c1;
        padding-left: 30px;
        margin-left: 15px;
        transition-duration: 0.5s;
        &:hover {
          background-color: $theme_c2;
          color: $theme_c1;
        }
      }
    }
  }
}

#dogGender,
#catGender {
  padding-left: 80px;
}

.disappear {
  display: none;
}
